body {
    margin: 0;
}


a {
    color: #FFFFFF;
    text-decoration: none;
}

nav {
    float: right;
    margin-right: 15px;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

header {
    overflow: auto;
    background-image: url('../images/matrix.jpg');
}

header span {
    color: #FFFFFF;
}

footer {
    background-image: url('../images/matrix.jpg');/*fonctionne pas*/
}

.logo {
    width: 200px;
    height: 50px;
    overflow: hidden;
    background-image: url(../images/logocomplet.png);
    background-repeat: no-repeat; 
    background-size: contain;
    float: left;
}

.col-moitie {
    width: 50%;
    float: left;
}

